@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  --primary-color: #fe8b03;
  --secondary-color: #0d0101;
  --yellow-color: #e7ba00;
  --red-color: #ed1803;
  --dark-red-color: #bc1100;
  --dark-yellow-color: #b89400;
  --dark-primary-color: #bc6600;
}

h2 { font-family: var(--font-limelight); }
p { font-family: var(--font-lora); }
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

@keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
